:root {
  --topbar-linebreak: #F2F2F2;
  --topbar-background: #F2F2F2;
}

/* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}

/* Top bar */
nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid var(--topbar-linebreak);
    background-color: var(--topbar-background);
    padding: .5rem 7%;
}

nav-top-menu {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.link-anim {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.link-anim:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.link-anim:hover, .link-anim:focus, .link-anim:active {
  color: white;
}
.link-anim:hover:before, .link-anim:focus:before, .link-anim:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Menu Links */
ul.main-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
}
ul.main-menu li a {
    margin-right:20px;
    font-size:2.0rem;
    border-bottom: solid transparent 3px;
    color:#cfd2da;
}
ul.main-menu li a:hover {
    color:#FFFFFF;
}
ul.main-menu li a.active {
    color:#FFFFFF;
    border-bottom-color:#EF6D3D;
}

/* Utility classes */
.hide {
    display:none;
}
.show {
    display:block;
}