:root {
  --topbar-linebreak: #F2F2F2;
  --topbar-background: #F2F2F2;
}

/* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}

/* Top bar */
.nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid var(--topbar-linebreak);
    background-color: var(--topbar-background);
    padding: .5rem 7%;
}

.nav-top-menu {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.hover-underline {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

/* Menu Links */
ul.main-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
}
ul.main-menu li a {
    margin-right:20px;
    font-size:2.0rem;
    border-bottom: solid transparent 3px;
    color:#cfd2da;
}
ul.main-menu li a:hover {
    color:#FFFFFF;
}
ul.main-menu li a.active {
    color:#FFFFFF;
    border-bottom-color:#EF6D3D;
}

/* Utility classes */
.hide {
    display:none;
}
.show {
    display:block;
}