/* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: #000000;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #9BB0C1;
}

/* Top bar */
.nav-top {
    color:#FFFDF6;
}

.nav-top-title {
    font-weight: bold; 
    font-size: 2rem;
    height: 4rem;
    width: 100%;
    background-color: #F6995C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-top-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    height: 2rem;
    width: 100%;
    background-color: #51829B;
}

.hover-underline {
    font-size: 1.4rem;
    color: #FBFBFB;
    position: relative;
    display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #FBFBFB;
    left: 0;
    top: 0px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
    top: 1.85rem;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}

.project-container {
    background-color: #bd6c6c;
    margin: auto;
    margin-top: 15px;
    width: 60%;
    height: 100%;
    border-radius: 25px;
    display: flex;
}

.project-element {
    width: 45%;
}
